# 数据库
DATABASE_URL="file:./dev.db"

# 服务器配置
PORT=3001
CLIENT_URL=http://localhost:5173

# # OpenRouter AI
# OPENROUTER_API_KEY=
# OPENROUTER_MODEL=baidu/cobuddy:free

AI_PROVIDER=siliconflow
SILICONFLOW_API_KEY=
SILICONFLOW_MODEL=tencent/Hunyuan-MT-7B

# AI_PROVIDER=openrouter
# OPENROUTER_API_KEY=你的 OpenRouter Key
# OPENROUTER_MODEL=tencent/hy3-preview:free

# Twitter API (twitterapi.io)
TWITTER_API_KEY=

# 邮件通知 (可选)
SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
NOTIFY_EMAIL=
